<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{js/src/script.js}"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>DualTranslate</h1>
    </nav>
    
    <div class="inputDiv">
        <div id="langs">
            <div id="LangFromText">Japanese</div>
            <div id="LangToText">English</div>
            <button id="LangSwapButton">Switch</button>
        </div>
        
        <form id="inputForm" th:action="@{/tl}" method="post" th:object="${data}">
            <input hidden id="LangFrom" th:field="*{LangFrom}" value="*{LangFrom}">
            <input hidden id="LangTo" th:field="*{LangTo}" value="*{LangTo}">
            <input id="text" type="text" th:field="*{text}">
            <button id="TLButton">translate</button>
        </form>
    </div>
    
    <div class="resultsDiv">
        <div class="resultsChild" id="MSResults">
            <h2>Azure Cognitive Services Translation</h2>
            <div class="Result" id="MSResult" th:text="${data.MSResult}"></div>
            <div id="MSResultReading" th:text="${data.MSTranslit}"></div>
        </div>
        <div class="resultsChild" id="GResults">
            <h2>Google Cloud Translation</h2>
            <div class="Result" id="GResult" th:text="${data.GResult}"></div>
            <div id="GResultReading" th:text="${data.GTranslit}"></div>
        </div>
    </div>
    
</body>
</html>